<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAljSDb49Lnh-D5zyEH8KmlpUSc-N7o-Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>1071799059676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AaronTreinish.Fortnite-Dropper</string>
	<key>PROJECT_ID</key>
	<string>fortnite-dropper-3dae5</string>
	<key>STORAGE_BUCKET</key>
	<string>fortnite-dropper-3dae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071799059676:ios:9f320a9c2beafacf94a019</string>
</dict>
</plist>